@import 'mixin';
.btn{
    padding: 4px 16px;
    border-radius: 10px;
    border: 1px solid #999;
}

.primary{
    @include buttonStyle();
    background-color: #0d6efd;
}
.secondary{
   @include buttonStyle();
    background-color: #6c757d;
    &:hover{
        @include buttonStyle();
        opacity: 0.9;
    }
}
.success{
    @include buttonStyle();
    background-color: #198754;
}
.danger{
    @include buttonStyle();
    background-color: #dc3545;
}
.warning{
    @include buttonStyle();
    background-color: #ffc107;
}
.disabled{
    pointer-events: none;
    opacity: 0.5;
}